<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.animalplanet.www.repository.BCommentDAO">
	<insert id="insertBComment" parameterType="cvo">
		insert into comment (bno, nick_name, content)
		values (#{bno}, #{nickName}, #{content})
	</insert>	
	<select id="selectListBComment" resultType="cvo">
		select a.cno, nick_name, content, reg_at, mod_at
		from (
			select cno from comment
			where bno = #{bno}
			limit #{pgvo.pageStart}, #{pgvo.qty}
		)a inner join comment b 
		on a.cno = b.cno
	</select>
	<select id="selectOneBCommentTotalCount" resultType="int">
		select count(cno) from comment where bno = #{bno}
	</select>
	<update id="updateBComment" parameterType="cvo">
		update comment
		set content = #{content}, mod_at = now()
		where cno = #{cno}
	</update>
	<delete id="deleteOneBComment" parameterType="long">
		delete from comment where cno = #{cno}
	</delete>
	<delete id="deleteAllBComment" parameterType="long">
		delete from comment where bno = #{bno}
	</delete>
	<select id="selectOneBno" parameterType="long" resultType="long">
		select bno from comment where cno = #{cno}
	</select>
</mapper>