<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.animalplanet.www.repository.BoardDAO">
	<insert id="insertBoard" parameterType="bvo">
	insert into board (b_cate, b_tag, species, title, nick_name, content, location, gender, breed, lost_date)
	values (#{bCate}, #{bTag}, #{species}, #{title}, #{nickName}, #{content}, #{location}, #{gender}, #{breed}, #{lostDate})
	</insert>
	<select id="selectListBoard" resultType="bvo">
	select bno, b_cate, title, nick_name, reg_at, read_count
	from board
	</select>
	<select id="selectOneBoard" parameterType="long" resultType="bvo">
		select * from board where bno = #{bno}
	</select>
	<update id="updateBoard" parameterType="bvo">
	update board set
	b_tag=#{bTag}, title=#{title}, content=#{content}, gender=#{gender}, breed=#{breed}, 
	species=#{species},location=#{location}, mod_at=now()
	where bno = #{bno}
	</update>
	<delete id="deleteBoard" parameterType="long">
		delete from board where bno = #{bno}
	</delete>
	<sql id="search">
		<if test="type != null">
			<trim prefix="and (" suffix=")" prefixOverrides="OR">
				<foreach collection="typeToArray" item="type">
					<trim prefix="OR">
						<choose>
							<when test="type == 't'.toString()">
								title like concat('%',#{keyword},'%')
							</when>
							<when test="type == 'c'.toString()">
								content like concat('%',#{keyword},'%')
							</when>
							<when test="type == 'n'.toString()">
								nick_name like concat('%',#{keyword},'%')
							</when>
							<when test="type == 'l'.toString()">
								location like concat('%',#{keyword},'%')
							</when>
							<when test="type == 'b'.toString()">
								breed like concat('%',#{keyword},'%')
							</when>
							<when test="type == 'd'.toString()">
								lostDate like concat('%',#{keyword},'%')
							</when>
						</choose>
					</trim>
				</foreach>
			</trim>
		</if>
	</sql>
	<sql id="cate">
		<if test="species != null">
		<if test="species != ''">
		and species = #{species}
		</if>
		</if>
		<if test="bTag != null">
		<if test="bTag != ''">
		and b_tag = #{bTag}
		</if>
		</if>
	</sql>
	<select id="selectListBoardPaging" parameterType="pgvo" resultType="bvo">
		select a.bno, b_cate, b_tag, species, title, nick_name, reg_at, read_count, location, gender, breed, lost_date
		from (
			select bno from board
			where bno > 0 and b_cate = #{bCate}
			<include refid="cate"></include>
			<include refid="search"></include>
			order by bno desc
			limit #{pageStart}, #{qty}
		) a left join board b
		on a.bno = b.bno
	</select>
	<select id="selectListMyBoardPaging" resultType="bvo">
		select a.bno, b_cate, b_tag, species, title, nick_name, reg_at, read_count, location, gender, breed, lost_date
		from (
			select bno from board
			where bno > 0 and nick_name = #{nickName}
			order by bno desc
			limit #{pgvo.pageStart}, #{pgvo.qty}
		) a left join board b
		on a.bno = b.bno
	</select>
	<select id="selectOneTotalCount" parameterType="pgvo" resultType="int">
		select count(bno) from board where bno > 0 and b_cate = #{bCate}
			<include refid="cate"></include>
			<include refid="search"></include>
		<include refid="search"></include>
	</select>
	<select id="selectOneMyTotalCount" resultType="int">
		select count(bno) from board where bno > 0 and nick_name = #{nickName}
	</select>
	<select id="selectOneBno" resultType="long">
		select max(bno) from board
	</select>
	<update id="updateBoardReadCount">
		update board set read_count = read_count + 1 where bno = #{bno}
	</update>
	<update id="updateBoardCmtQty">
		update board set cmt_qty = cmt_qty + #{cnt} where bno = #{bno}
	</update>
	
</mapper>