<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration debug="true">
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d %5p [%c] %m%n</pattern>
    </encoder>
  </appender>
  <appender name="ROLLINGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/develop/_java/logDir/myweb.log</file>
      <encoder>
       <pattern>%d %5p [%c] %m%n</pattern>
      </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>WebLog_%d{yyyy-MM-dd}.zip</fileNamePattern>
      <maxHistory>30</maxHistory>
      <totalSizeCap>100MB</totalSizeCap>
    </rollingPolicy>
  </appender>
  
  <logger name="com.animalplanet.www" level="debug" appender-ref="STDOUT"></logger>
  <logger name="jdbc.sqlonly" level="info" appender-ref="STDOUT"></logger>
  <logger name="jdbc.resultsettable" level="info" appender-ref="STDOUT"></logger>
  <logger name="org.springframework" level="error" appender-ref="STDOUT"></logger>
  <logger name="org.springframework.jdbc" level="error" appender-ref="STDOUT"></logger>

  <root level="error">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="ROLLINGFILE" />
  </root>
</configuration>
